<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_PromoBannersLite
 */
-->
<config>
    <modules>
        <Amasty_PromoBannersLite>
            <version>1.0.10</version>
        </Amasty_PromoBannersLite>
    </modules>
    <global>
        <resources>
            <ambannerslite_setup>
                <setup>
                    <module>Amasty_PromoBannersLite</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ambannerslite_setup>
            <ambannerslite_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ambannerslite_write>
            <ambannerslite_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ambannerslite_read>
        </resources>
        <models>
            <ambannerslite>
                <class>Amasty_PromoBannersLite_Model</class>
                <resourceModel>ambannerslite_mysql4</resourceModel>
            </ambannerslite>
            <ambannerslite_mysql4>
                <class>Amasty_PromoBannersLite_Model_Mysql4</class>
                <entities>
                    <banners>
                        <table>ambannerslite_banners</table>
                    </banners>
                </entities>
            </ambannerslite_mysql4>
        </models>
        <blocks>
            <ambannerslite>
                <class>Amasty_PromoBannersLite_Block</class>
            </ambannerslite>
        </blocks>
        <helpers>
            <ambannerslite>
                <class>Amasty_PromoBannersLite_Helper</class>
            </ambannerslite>
        </helpers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <ambannerslite>
                        <class>ambannerslite/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </ambannerslite>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Amasty_PromoBannersLite after="Mage_Adminhtml">Amasty_PromoBannersLite_Adminhtml</Amasty_PromoBannersLite>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <ambannerslite>
                <use>standard</use>
                <args>
                    <module>Amasty_PromoBannersLite</module>
                    <frontName>ambannerslite</frontName>
                </args>
            </ambannerslite>
        </routers>
        <layout>
            <updates>
                <ambannerslite>
                    <file>amasty/ambannerslite/ambannerslite.xml</file>
                </ambannerslite>
            </updates>
        </layout>
        <translate>
            <modules>
                <Amasty_PromoBannersLite>
                    <files>
                        <default>Amasty_PromoBannersLite.csv</default>
                    </files>
                </Amasty_PromoBannersLite>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <amasty_notifications>
            <ambannerslite>
                <content><![CDATA[<a href="https://amasty.com/docs/doku.php?id=magento_1%3Apromo-banners-lite&utm_source=extension&utm_medium=link&utm_campaign=userguide_special_promo_2" target="_blank">Please check <b>the guide</b> for more info on how this feature works and how it should be configured.</a>]]></content>
                <class>am_support_notice</class>
            </ambannerslite>
        </amasty_notifications>
        <events>
            <salesrule_rule_save_after>
                <observers>
                    <Amasty_PromoBannersLite_Model_Observer>
                        <type>singleton</type>
                        <class>Amasty_PromoBannersLite_Model_Observer</class>
                        <method>saveAfter</method>
                    </Amasty_PromoBannersLite_Model_Observer>
                </observers>
            </salesrule_rule_save_after>
            <adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <Amasty_PromoBannersLite_Model_Observer>
                        <type>singleton</type>
                        <class>Amasty_PromoBannersLite_Model_Observer</class>
                        <method>salesRulePrepareSave</method>
                    </Amasty_PromoBannersLite_Model_Observer>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>
            <adminhtml_block_html_before>
                <observers>
                    <Amasty_PromoBannersLite_Model_Observer>
                        <type>singleton</type>
                        <class>Amasty_PromoBannersLite_Model_Observer</class>
                        <method>addEnctypeToForm</method>
                    </Amasty_PromoBannersLite_Model_Observer>
                </observers>
            </adminhtml_block_html_before>
            <adminhtml_init_system_config>
                <observers>
                    <Amasty_PromoBannersLite_Model_Observer>
                        <class>Amasty_PromoBannersLite_Model_Observer</class>
                        <method>changeSystemConfig</method>
                    </Amasty_PromoBannersLite_Model_Observer>
                </observers>
            </adminhtml_init_system_config>
        </events>
        <layout>
            <updates>
                <ambannerslite>
                    <file>amasty/ambannerslite/ambannerslite.xml</file>
                </ambannerslite>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <ambannerslite>
            <gift_images>
                <gift_image_width>50</gift_image_width>
                <gift_image_height>50</gift_image_height>
                <attribute_header>name</attribute_header>
                <attribute_description>short_description</attribute_description>
            </gift_images>
        </ambannerslite>
    </default>
</config>
